version: '3.8'
services:
  mongodb:
    image: mongo:latest
    command: ["--replSet", "rs0", "--bind_ip_all"]
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    restart: always
    healthcheck:
      test: |
        mongosh --eval "try { var s = rs.status(); if (s.ok !== 1) { rs.reconfig({_id:'rs0',members:[{_id:0,host:'localhost:27017'}]}, {force:true}) } } catch (err) { rs.initiate({_id:'rs0',members:[{_id:0,host:'localhost:27017'}]}) }"
      interval: 5s
      timeout: 30s
      start_period: 0s
      retries: 30

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    restart: always

volumes:
  mongodb_data:
